
.board{
    margin: 10px auto;
    border: 2px solid #000;
    width: fit-content;
  
}
.row{
    display: flex;
}
.red{    
background-color: red;
}
.green{    
background-color: green;
}
.blue{    
background-color: blue;
}
.yellow{  
    background-color: yellow;  

}
.red-box{
    background-color: #FF0000;
    width: 250px;
    height: 252px;
    /* margin: 20% auto; */
    border: 1px solid red;
}
.white-box{
    height: 150px;
    width: 150px;
    background: white;
    border: 1px solid white;
    margin: 20% auto;
}
.white-box .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin: 16px;
    border: 1px solid black;
}
.cell{
    width: 40px;
    height: 41px;
    border: 1px solid black;
}
.green-box{
    background-color: green;
    width: 250px;
    height: 252px;
    /* margin: 20% auto; */
    border: 1px solid green;
}
.yellow-box{
    background-color: yellow;
    width: 250px;
    height: 252px;
    /* margin: 20% auto; */
    border: 1px solid yellow;
}
.blue-box{
    background-color: blue;
    width: 250px;
    height: 252px;
    /* margin: 20% auto; */
    border: 1px solid blue;
}
.destination{
    border-left: 63px solid #FF0000;
    border-right: 63px solid #FFCC00;
    border-top: 63px solid #009900;
    border-bottom: 63px solid #66CCff;
}
.icon{
    padding: 19px  3px;
}
.btn{
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.dice-btn{
    background-color: #009900;
    color: white;

}
.row1{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    position: relative;
    bottom: 300px;
}
.player-pieces{
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;

}
[player-id="P1"].player-pieces{
    background-color: #009900;
}
.player-pieces.highlight{
    cursor: pointer;
    border: 2px dashed;
    /* animation: spin 1s infinite linear; */
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1.4);
    }
    100%{
        transform: rotate(360deg);
    }
}